/*!
 * File for action Gallery of controller Employees
 * version 0.1
 * copyright 2017 Andrey Klimov.
 */

/**
 * Information about employee
 */
.employees-gallery .panel-footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}